@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 * {
      
        font-family: 'Raleway', sans-serif;

    }

.container{
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    
}
.navbar{
    margin-left: 5%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
   
}
.navbar .logo{
    font-size: 35px;
    color: rgb(19, 10, 80);

}

 .first-section h1{
    width: 80%;
    font-size: 45px;
}
.menu-section{
    margin-left: 100px;
}

.menu-section a{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(19, 10, 80);
    font-size: 16px;
    font-weight: bold;

}
.menu-section button{
   
    margin-left: 20px;
   
}
.com-btn{
    background-color: rgb(11, 11, 117);
    color : white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-weight: bold;


}
.sign{
    background-color: white;
    color:  rgb(11, 11, 117);
    padding: 5px 20px 5px 20px;
    border: 2px solid rgb(11, 11, 117) ;
    border-radius: 5px;
}

.first-section{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    
}
.first-section .left-side{
    width: 50%;
}
.left-side .small-text{
    width: 70%;
    line-height: 25px;
    font-size: 12px;
    color: rgb(11, 11, 117)  ;
    font-weight: bold;

}

.enroll{
    padding: 10px 25px;
    background-color: rgb(38, 38, 173);
    margin-top: 20px;
    color : white;
    border-radius: 5px;
    font-weight: bold;
    
}
.successpage .spage-content{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.successpage .text-blue{
    color: rgb(8 8 94);
    font-size:45px;
}
.text-blue{
    color: rgb(8 8 94);
    font-size:45px;
}
.successpage p{
    margin-top:-10px;
    color: rgb(2, 2, 41);
    font-size:15px;
    font-weight: 600;
}

p{
    margin-top:-10px;
    color: rgb(2, 2, 41);
    font-size:15px;
    font-weight: 600;
}

.rightside-img{
    width: 400px;
    height: 350px;
    margin-left: 100px;
}

.statics{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
}
.statics .text-blue{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.statics .s-content{
    margin-top:-40px;
}
.Benefit-section{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    

}
/* .Benefit-section .benifit-left{
    width: 50%;
} */

.benifit-img{
    width: 600px;
    height: 400px;
    border-radius: 50px;
    border:  2px dashed darkslateblue  ;
    padding: 10px 10px;
}
.benifit-right {
   padding: 0px 0px 0px 100px;
   
}
.benifit-right div{
    margin-top: 20px;
}
.benifit-right h4{
    line-height: -10px;
    color:rgb(4, 4, 68);
}
.benifit-right p{
    font-size: 14px;
    color: rgb(4, 4, 167);
    font-weight: bold;
    margin-top: -20px;
}

.testimonal-section{
     margin-top: 50px;
}
.testimonal-section .testimonalline{
    width: 100px;
    height: 3px;
    background-color: rgb(4, 4, 46);
}
.bookimg{
    width:300px;
    height: 200px;
    border-radius: 5%;
    z-index: 0;
} 
.testimonal-left{
    width: 50%;
}
.testimonal-section{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.test{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;   
}
.card-testimonal{
    width: 500px;
    height: 150px;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    /* box-shadow: ; */
    padding: 40px 10px ;   
    box-shadow: -12px 0px 0px 0 hsl(246deg 66.31% 25.57% / 96.5%);
}


.footer-card p{
    color:white;

}
.rocket-img{
    width: 50px;
    height: 50px;
}
.footer-section{
    margin-top: 100px;
   

}

.footer-card{
 width:50%;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 border-radius: 10px;
 background-color: rgb(4, 4, 46);
 color:white;
 width: 50%;
 height: 80px;
 margin: auto; 
 position: relative;
 top: 32px;
}

.footer-div{
    height: 200px;
    background-color: rgb(216, 207, 207);
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    padding-top:50px;
}

.footer-column li{
    list-style-type: none;
    text-decoration: none;

}
.footer-column li a {
    text-decoration: none;
    line-height: 30px;
    font-size: 12px;
    color: blue;
    font-weight: 700;
}
.footer-end{ 
    height: 40px;
    background-color: rgb(6, 6, 99);
  
   
}
.footer-end p{
    font-size: 14px;
    color: white;
}
.footer-end .end{
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
    align-items: center;
}







